$primary: #a69257;
$primary-hover: #c9b16a;
$primary-font: 'Hammersmith One', sans-serif;

/*============ Page Styles ============*/

body, html {
    height: 100%;
    margin: 0;
}

.main-img { 
    background-image: url("../../img/sq-bkg.png");
    height: 100%; 
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main-header {
    text-align: center;
    font-family: $primary-font;
    hr {
        width: 160px;
        opacity: 0.8;
        border-top: #a2abb2 solid 2px;  
    }
}

.header-content {
    padding-top: 17%;
    display: none;
}

#name {
    margin: 0;
    color: rgb(221, 221, 221);
    font-size: 3.5em;
    letter-spacing: 10px;
    font-weight: 100;
}

#title {
    padding: 8px;
    margin-top: 8px;
    /* color: rgb(115, 115, 115); */
    color: #a2abb2;
    letter-spacing: 5px;
    font-size: 18px;
    opacity: 0.8;
}

#nav {
    ul {
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }
    li {
        display: inline-block;
    }
    a {
        border: 2px solid $primary;
        color: $primary;
        cursor: pointer;
        display: inline-block;
        font-family: $primary-font;
        font-size: 16px;
        letter-spacing: 2px;
        margin: 0 10px; 
        opacity: 0.7;
        padding: 8px 18px;
        text-decoration: none;
        transition: all 300ms; 
        
        &:hover {
            border: 2px solid $primary-hover;
            color: $primary-hover;
            opacity: 1;
        }
    }
    &.sticky-nav{
        position: fixed;
        z-index: 90;
        background: rgba(0,0,0,0.8);
        top: 0;
        /* left: 0; */
        /* margin-top: 0; */
        transition: 0.6s;
        text-align: center;
        width: 100%; 
    }
}

%page-sections {
    min-height: 100%;
    padding: 130px 0 60px 0;
}

#work {
    @extend %page-sections;
    background-color: #E9F2F9;
}

#about {
    @extend %page-sections;
    background-color: #15191d;
    p {
        color: white;
        opacity: 0.8;
        padding: 0 60px;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
}
#contact {
    @extend %page-sections;
    background-color: #000;
}

.links {
    ul {
        text-align: center;
        padding: 12px 0 0 0;
    }
    li {
        display: inline-block;
    }
    a {
        font-size: 32px;
        display: inline-block;
        padding: 0 12px;
        color: white;
        opacity: 0.8;
        transition: all 300ms;
        &:hover {
            opacity: 0.5;
        }
    }
}
.work-container {
    // padding: 0 120px 60px 120px;
    text-align: center;
    img {
        width: 300px;
        height: 225px;
        margin: 25px 20px 5px 20px;
    }
    p, h3 {
        text-align: left;
        padding: 0 20px;
        font-size: 0.8em;
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: 3px;
    }
}
.work-sample {
    display: inline-block;
    max-width: 340px;
    vertical-align: top;
}

.section-header {
    padding-bottom: 40px;
    text-align: center;
    font-family: $primary-font;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    font-size: 18px;
    opacity: 0.8;
    
    hr {
        width: 50px;
        border-top: $primary solid 3px;
    }
}

/*============ Form Styles ============*/

textarea {
    min-height: 200px;
    max-height: 320px;
}

// form {
//     padding-top: 180px;
// }

.form-control {
    background-color: #666;
    border-radius: 0;
    border-color: $primary;
    color: black;
    &:focus {
        background-color: #666;
        color: black;
        border-color: $primary-hover;
        opacity: 1;
        //border-width: 2px;
        box-shadow: unset;
    }
}

label {
    color: #6c7074;
}

input[type="submit"] {
    border-radius: 0;
    background-color: $primary;
    &:hover {
        background-color: $primary-hover;
        transition-duration: 400ms;
    }
}

footer {
    background-color: #15191d;
    height: 70px;
    p {
        margin: 0 30px;
        padding-top: 26px;
        color: rgb(115, 115, 115);
        font-family: $primary-font;
        text-transform: uppercase;
    }
}